<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>Средний возраст</td>
            <td>{{ all_info['age_mean'] }}</td>
        </tr>
        <tr>
            <td>Средняя оценка 1</td>
            <td>{{ all_info['q0_mean'] }}</td>
        </tr>
        <tr>
            <td>Средняя оценка 2</td>
            <td>{{ all_info['q1_mean'] }}</td>
        </tr>
              <tr>
            <td>Средняя оценка 3</td>
            <td>{{ all_info['q2_mean'] }}</td>
        </tr>        <tr>
            <td>Средняя оценка 4</td>
            <td>{{ all_info['q3_mean'] }}</td>
        </tr>        <tr>
            <td>Средняя оценка 5</td>
            <td>{{ all_info['q4_mean'] }}</td>
        </tr>        <tr>
            <td>Средняя оценка 6</td>
            <td>{{ all_info['q5_mean'] }}</td>
        </tr>
              <tr>
            <td>Средняя оценка 7</td>
            <td>{{ all_info['q6_mean'] }}</td>
        </tr>        <tr>
            <td>Средняя оценка 8</td>
            <td>{{ all_info['q7_mean'] }}</td>
        </tr>        <tr>
            <td>Средняя оценка 9</td>
            <td>{{ all_info['q8_mean'] }}</td>
        </tr>        <tr>
            <td>Средняя оценка 10</td>
            <td>{{ all_info['q9_mean'] }}</td>
        </tr>
    </table>
</body>
</html>